@{
    ViewData["Title"] = "Popular";
}
<h1>Popular films</h1>
@{
    foreach (var i in (List<FilmPage>)ViewData["Films"]) 
    {
        var filmLink = "/film?f="+i.Link;
        <div class="Film">            
            <a href ="@filmLink">
                <img class="filmImg" src="~/img/@i.Img">
            </a>
        </div>
    }
 }
