
@{
    ViewData["Title"] = "LogIn";
}

<h1>LogIn</h1>
<center>
    <form asp-controller="UserPage" asp-action="Enter" method="post" enctype="multipart/form-data">
        <input type="text" name="username" placeholder ="Имя пользователя" class="Input">
        <input type="text" name="password" placeholder="пароль" class="Input">
        <input type="submit" value="Отправить" class="sendUserData">
    </form>
    <h3 class="LogInLink"><a class="LogInLink" href="/UserPage/SignIn">Зарегистрироваться</a></h3>
</center>

