<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CinemaGo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="head">
        <div class="logo">
            <h1 class= "logoText">
                <a href ="/">CinemaGo</a>
            </h1>
        </div>
        <div class = "menu">
            <ul>
                    <li class = "menuLi"><a href ="/Popular">Самые популярные</a></li>
                    <li class = "menuLi"><a href ="/Genre?g=0">Выбор по жанрам</a></li>
                    <li class = "menuLi"><a href ="/Animation">Мультфильмы</a></li>
                    <li class = "menuLi"><a href ="#">Аккаунт</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - CinemaGo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
